body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.free-cells,.home-cells{
    display: inline-block;
}
.column-cells{
    margin-top: 30px;
}
.cell {
    border: 5px solid #eee;
    border-radius: 16px;
    width: 90px;
    height: 126px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}